.section-specialty {
    height: 330px;
    background: #f5f5f5;

    
    .specialty-container {
        margin: 0 250px 0 350px; 
        
        .specialty-header {
            height: 60px;
            margin-bottom: 32px;
            padding-top: 26px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                background-color: rgb(218, 243, 246);
                padding: 12px 10px;
                border-radius: 16px;
                border: transparent;
                float: right;
                display: block;

                .btn-section-item {
                    font-size: 20px;
                    color: rgb(52, 146, 158);
                    font-weight: 600;
                }
            }
        }

        .specialty-body {

            .specialty-customize {

                .bg-image {
                    cursor: pointer;
                    width: 300px;
                    height: 200px;
                    background: url('../../../assets/specialty/tim-mach.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }
            
            //custom slick slider
            .slick-prev {
                // border: 1px solid red !important;
                // position: relative !important;
                right: 98% !important;
                z-index: 10 !important;
                height: 50px !important;
                width: 50px !important;
                border-radius: 8px !important;
                border-width: 1px !important;
                border-color: rgb(181, 231, 237) !important;
                background-color: rgb(255, 255, 255) !important;
                box-shadow: rgb(201, 236, 240) 2px 2px 5px !important;
            }

            .slick-prev::before {
                color: rgb(19, 206, 226) !important;
            }

            .slick-next {
                margin-left: 11px !important;
                left: 93% !important;
                z-index: 10 !important;
                height: 50px !important;
                width: 50px !important;
                border-radius: 8px !important;
                border-width: 1px !important;
                border-color: rgb(181, 231, 237) !important;
                background-color: rgb(255, 255, 255) !important;
                box-shadow: rgb(201, 236, 240) 2px 2px 5px !important;
            }

            .slick-next::before {
                color: rgb(19, 206, 226) !important;
            }
        }
    }
}


